/* @import "react-alice-carousel/lib/alice-carousel.css"; */

html {
  box-sizing: border-box;
  font-size: 20px;
}
@media (max-width: 425px) {
  html {
    /* font-size: 8px; */
  }
}

body {
  /* font-size: 1.5rem; */
  margin: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: inherit;
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.carousel__wrap {
  margin-top: 10%;
  align-items: center;
  display: flex;
  flex: 1;
  justify-content: center;
  position: relative;
  width: 80%;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 400px;
}

.carousel__inner {
  height: 40rem;
  position: relative;
  width: calc(90rem);
  width: 100%;
}

.carousel__container {
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.carousel__container h2 {
  font-size: 40px;
  width: 70%;
  text-align: center;
  margin: auto;
}

.carousel__container h2 span {
  color: #ff4532;
}

.carousel__container h2 span + span {
  color: #006a98;
}

.carousel__container h1 {
  color: white;
  margin: auto;
  width: max-content;
  font-size: 100px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #9edcf7;
}

.carousel__slide-list {
  height: 100%;
  left: 50%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  transform: translateX(-50%);
  width: calc(330rem);
}

.carousel__slide-item {
  display: inline-block;
  /* height: 30rem; */
  /* padding: 1rem; */
  position: absolute;
  transition: all 0.3s;
  width: 30rem;
  margin-top: 100px;
}

.carousel__slide-list{
  border: 1px solid red;
}

.divForUL{
  border: 1px solid rgb(52, 27, 27);

}

.carousel__slide-item-img-link {
  /* cursor: zoom-in; */
  display: flex;
  /* height: 100%; */
  overflow: hidden;
  position: relative;
}
.carousel__slide-item-img-link img {
  /* height: 100%; */
  /* object-fit: cover; */
  /* transition: all 0.5s ease; */
  /* width: 100%; */
  margin: auto;
}
.carousel__slide-item-img-link::after {
  align-items: center;
  /* background: rgba(0, 0, 0, 0.5); */
  /* color: white; */
  /* content: "read more"; */
  display: flex;
  /* height: 100%; */
  justify-content: center;
  /* opacity: 0; */
  position: absolute;
  /* transition: all 0.5s ease; */
  /* width: 100%; */
}

.carousel-slide-item__body {
  bottom: -2.5rem;
  height: 10%;
  position: absolute;
}
.carousel-slide-item__body h4 {
  margin: 0.7rem 10px 10px 250px;
  text-transform: uppercase;
  font-size: 15px;
}
.carousel-slide-item__body p {
  font-size: 0.8rem;
  width: 50%;
  margin: auto;
  /* line-height: 1.3; */
  /* margin: 0.7rem 0 0; */
}

.carousel__btn {
  /* align-items: center;
  background: 0;
  border: 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%); */
  display: none;
}
/* .carousel__btn--prev {
  left: -10rem;
}
.carousel__btn--next {
  right: -10rem;
} */

/* .carousel__btn-arrow {
  border: solid black;
  border-width: 0 0.4rem 0.4rem 0;
  height: 6rem;
  padding: 3px;
  width: 6rem;
  z-index: 10;
} */
/* .carousel__btn-arrow--left {
  transform: rotate(135deg);
}
.carousel__btn-arrow--right {
  transform: rotate(-45deg);
} */

.carousel__dots {
  display: inline-block;
  left: 50%;
  margin-top: 2rem;
  position: absolute;
  transform: translateX(-50%);
}
.carousel__dots .dot {
  background: #ccc;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  height: 2rem;
  margin: 0 0.3rem;
  outline: none;
  transform: scale(0.5);
  width: 2rem;
}
.carousel__dots .dot.active {
  background: #ff4532;
}
